header {
    padding: 20px 0px;
}

header .container {
    display: flex;
    align-items: center;
}

.container .logo {
    margin-right: 50px;
}

.container nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.container nav ul li a {
    text-decoration: none;
    margin-right: 30px;
    color: $text-col-one;
    text-transform: uppercase;
}

.container nav ul li a.active {
    color: $main-col;
    height: 100%;
    padding: 59px 0px;
    border-bottom: 5px solid $main-col;
}
